/* Add screen styles below */
body {
    background: #37323E;
}

main {
    margin: 0 auto;
    width: 500px;
}

h1 {
    color: #FFFFFF;
}

img {
    border-radius: 20px;
    margin: 20px 0 20px 0;
}